@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

/*body, estilo general*/
body {
  background-color: #dcdee3;
  font-family: 'Barlow Condensed', sans-serif; }

/*estilos de header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  header nav {
    background-color: #2a3a49; }
    header nav div a img {
      width: 250px;
      height: 70px; }
  header nav div div .color-menu:hover {
    border-bottom: 2px solid #58c1e0;
    color: whitesmoke; }
  header nav div div b {
    color: whitesmoke;
    font-size: 18px; }

header nav .container-fluid .navbar-toggler {
  background-color: whitesmoke; }

/*main, estilo general*/
main h1 b {
  border-bottom: solid 1px #8b8383; }

main p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px; }

main h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center; }

/*home,estilos*/
main .banner {
  margin-top: 5rem; }
  main .banner img {
    height: 100%;
    width: 100%; }

main .title-productos-destacados {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 1.5rem; }

main .productos-destacados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  main .productos-destacados img {
    height: 320px;
    width: 290px;
    margin: 20px;
    border: solid 2px #646161; }

/*productos, estilos*/
main .title-productos {
  margin-top: 6rem;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  color: black; }
  main .title-productos b {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 4rem; }

main .container-productos {
  display: flex; }
  main .container-productos .destacado {
    width: 100%; }
  main .container-productos .productos .destacados {
    align-content: center; }
  main .container-productos .productos .nuestros-productos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    main .container-productos .productos .nuestros-productos .producto {
      overflow: hidden;
      background: whitesmoke;
      color: #21201e;
      text-align: center;
      width: 240px;
      height: 400px;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 1.2rem;
      border: solid 0.5px #ada1a1;
      margin: 2rem; }
      main .container-productos .productos .nuestros-productos .producto .info-producto .producto-btn b {
        font-size: 18px; }
      main .container-productos .productos .nuestros-productos .producto img {
        height: 200px;
        margin: 1rem;
        transition: all 0.3s; }
    main .container-productos .productos .nuestros-productos .producto:hover {
      box-shadow: 5px 15px 25px #656262; }
      main .container-productos .productos .nuestros-productos .producto:hover img {
        scale: 1.1; }

.producto a:link, .producto a:visited {
  color: #ececec;
  display: inline-block;
  text-decoration: none;
  background-color: #2c3e50;
  padding: 1.2rem 3rem;
  border-radius: 1rem;
  margin-top: 1rem;
  font-size: 14px;
  transition: all 0.2s; }

.product0 a:hover {
  transform: scale(1.1); }

.section {
  height: 545px;
  grid-area: section;
  background-color: #9ba0a6;
  border-radius: 0.5rem;
  border: solid 1px #363e57; }
  .section p {
    width: 100%; }

/*quienes somos, estilos*/
.box-nuestra-historia {
  padding: 40px;
  text-align: center;
  margin-top: 6rem; }
  .box-nuestra-historia p {
    margin-bottom: 25px;
    margin: 0;
    padding: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    width: 100%; }
  .box-nuestra-historia img {
    height: 500px;
    width: 700px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .box-nuestra-historia h1 b {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 60px;
    color: black; }
  .box-nuestra-historia h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    color: black; }

/*mates personalizados estilos*/
.banner-personzalizados img {
  width: 100%;
  height: 100%; }

main .tipografias {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem; }
  main .tipografias img {
    border: solid 0.5px #ada1a1; }

main .title-personalizados {
  text-align: center;
  margin-top: 1.5rem; }
  main .title-personalizados b {
    font-family: 'Barlow Condensed', sans-serif;
    border-bottom: 1px solid grey;
    font-size: 60px;
    color: black; }

main .personalizado-grupo-uno {
  margin-top: 4rem;
  text-align: center;
  padding: 30px; }
  main .personalizado-grupo-uno h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    color: black; }
  main .personalizado-grupo-uno div {
    margin-top: 3rem; }

main .dise単os-personalizados {
  text-align: center; }
  main .dise単os-personalizados img {
    width: 50rem;
    height: 40rem;
    border: solid 0.5px #ada1a1; }

main .personalizado-grupo-dos {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px; }

main .mas-utilizados {
  margin-top: 3rem; }

/*contacto, estilos*/
main .title-contactanos {
  margin-top: 6rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center; }

main .contacto {
  width: 500px;
  margin: 0 auto;
  border: 1px solid #393232;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 2rem;
  background-color: #4b6682; }
  main .contacto label {
    display: block;
    margin-bottom: 10px;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px; }
  main .contacto input[type="text"],
  main .contacto input[type="email"],
  main .contacto textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    resize: none; }
  main .contacto input[type="submit"] {
    background-color: whitesmoke;
    color: #2b2828;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer; }
  main .contacto input[type="submit"]:hover {
    background-color: #141414;
    color: whitesmoke; }

/*footer, estilos generales*/
footer {
  margin-top: auto;
  width: 100%;
  background-color: #0a141d; }
  footer .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 24%;
    grid-gap: 5px;
    padding: 45px 20px 10px 20px;
    justify-content: center; }
    footer .grupo-1 .ir-arriba {
      width: 100%;
      height: 90px;
      text-align: center; }
      footer .grupo-1 .ir-arriba a img {
        width: 260px;
        height: 100%;
        border-bottom: solid white 0.5px; }
    footer .grupo-1 .redes {
      width: 100%;
      text-align: center; }
    footer .grupo-1 .imagenes {
      width: 100%;
      text-align: center; }
    footer .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
    footer .grupo-1 .box .red-social :hover {
      color: aqua; }
    footer .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    footer .grupo-1 .box h3 {
      color: white;
      margin-bottom: 25px;
      font-size: 20px; }
    footer .grupo-1 .contacto {
      text-align: center;
      width: 100%; }
      footer .grupo-1 .contacto p {
        width: 100%; }
    footer .grupo-1 .imagenes {
      width: 19rem; }
      footer .grupo-1 .imagenes img {
        background-color: #8c9898;
        width: 53px;
        height: 42px;
        border-radius: 3px;
        margin-bottom: 6px; }
  footer .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    footer .grupo-2 small {
      font-size: 15px; }
  footer .wsp-fixed {
    position: fixed;
    right: 0px;
    bottom: 0px; }
    footer .wsp-fixed img {
      display: flex;
      height: 80px;
      width: 80px;
      margin-left: 20px;
      margin-top: 0,5px; }

@media screen and (max-width: 1220px) {
  footer .grupo-1 .imagenes {
    width: 230px; }
  footer .grupo-1 .ir-arriba a img {
    width: 180px;
    height: 60px; } }

@media screen and (max-width: 1024px) {
  .destacado-cuatro {
    display: none; }
  .productos-destacados .destacado {
    height: 200px;
    width: 200px; } }

@media screen and (max-width: 1005px) {
  footer .grupo-1 .imagenes {
    width: 200px; }
  footer .grupo-1 .ir-arriba a img {
    width: 180px;
    height: 60px; }
  main .dise単os-personalizados img {
    width: 600px;
    height: 500px; }
  main .tipografias img {
    width: 600px;
    height: 400px; }
  main h2 {
    font-size: 45px; } }

@media screen and (max-width: 950px) {
  footer .grupo-1 .redes {
    width: 190px; } }

@media screen and (max-width: 900px) {
  main .box-nuestra-historia .imagen-quienes-somos img {
    width: 600px;
    height: 400px; } }

@media screen and (max-width: 840px) {
  footer .grupo-1 {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: 25% 25% 25% 24%; }
  footer .grupo-1 .imagenes {
    text-align: center;
    margin-left: 0;
    width: 200px; }
  footer .grupo-1 .contacto {
    text-align: center;
    width: 210px; }
    footer .grupo-1 .contacto p {
      width: 210px; }
  footer .grupo-1 .redes {
    width: 180px;
    text-align: center; } }

@media screen and (max-width: 820px) {
  main .banner {
    margin-top: 4rem; }
  header .navbar .container-fluid div a img {
    width: 180px;
    height: 60px; } }

@media screen and (max-width: 768px) {
  footer .grupo-1 {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    justify-content: center; }
  footer .grupo-1 .ir-arriba {
    display: none; }
  main .dise単os-personalizados img {
    width: 480px;
    height: 350px; }
  main .tipografias img {
    width: 400px;
    height: 200px; }
  footer .grupo-1 .contacto {
    width: 100%;
    text-align: center; }
    footer .grupo-1 .contacto p {
      width: 100%; }
  footer .grupo-1 .imagenes {
    width: 100%; }
  footer .grupo-1 .imagenes img {
    width: 45px;
    flex-wrap: wrap; }
  footer .grupo-1 .redes .red-social {
    width: 100%;
    text-align: center; }
  footer .grupo-1 .redes {
    width: 100%;
    text-align: center; }
  footer .grupo-1 .redes .red-social .fa-twitter {
    margin-top: 13px; }
  header nav .container-fluid div .imagen-logo img {
    width: 200px; }
  header nav .container-fluid .navbar-collapse .navbar-nav .nav-link b {
    font-size: 16px; }
  main .main-index .productos-destacados img {
    width: 150px;
    height: 160px; }
  main .main-index h1 b {
    font-size: 40px; } }

@media screen and (max-width: 700px) {
  footer .grupo-1 {
    display: grid;
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    align-content: center; }
  footer .grupo-1 .ir-arriba {
    display: none; }
  footer .grupo-1 .contacto {
    width: 100%; }
    footer .grupo-1 .contacto p {
      width: 100%; }
  footer .grupo-1 .redes {
    width: 100%; }
  footer .grupo-1 .redes h3 {
    width: 100%; }
  footer .grupo-1 .redes .red-social {
    width: 100%; }
  main .box-nuestra-historia .imagen-quienes-somos img {
    width: 500px;
    height: 300px; } }

@media screen and (max-width: 600px) {
  main .box-nuestra-historia {
    margin-top: 3rem; }
  main .box-nuestra-historia .imagen-quienes-somos img {
    width: 400px;
    height: 200px; }
  footer .grupo-1 {
    display: grid;
    grid-gap: 40px;
    width: 95%;
    grid-template-columns: 35% 30% 30%; }
  footer .grupo-1 .contacto {
    width: 100%; }
  main .banner {
    margin-top: 4.5rem; }
  footer .grupo-1 .imagenes {
    width: 100%; }
  footer .grupo-1 .imagenes img {
    width: 50px;
    flex-wrap: wrap; }
  footer .grupo-1 .redes .red-social {
    width: 100%; }
  footer .grupo-1 .redes {
    width: 100%; }
  footer .grupo-1 .redes .red-social .fa-twitter {
    margin-top: 13px; }
  footer .grupo-1 .redes .red-social .fa-instagram {
    margin-top: 13px; }
  header nav .container-fluid div .imagen-logo img {
    width: 200px;
    height: 60px; }
  header nav .container-fluid .navbar-collapse .navbar-nav .nav-link b {
    font-size: 16px; }
  main .main-index .productos-destacados img {
    width: 150px;
    height: 160px; }
  main .main-index h1 b {
    font-size: 40px; } }

@media screen and (max-width: 500px) {
  main .box-nuestra-historia .imagen-quienes-somos img {
    display: none; } }

@media screen and (max-width: 480px) {
  footer .grupo-1 .imagenes {
    width: 150px; }
  footer .grupo-1 .contacto {
    width: 180px; }
  footer .grupo-1 .contacto p {
    width: 100px; }
  footer .grupo-1 .redes {
    width: 70px; }
  footer .wsp-fixed {
    width: 50px;
    left: 5px;
    bottom: 10px; }
  footer .grupo-1 .redes .red-social {
    width: 65px; }
  footer .grupo-1 {
    display: grid;
    grid-gap: 40px;
    width: 95%;
    grid-template-columns: 35% 32% 32%; }
  .main-index .productos-destacados .destacado-tres {
    display: none; }
  main .banner img {
    height: 230px; }
  main .contacto {
    width: 300px; } }

@media screen and (max-width: 470px) {
  footer .grupo-1 {
    display: grid;
    grid-gap: 40px;
    width: 95%;
    grid-template-columns: 34% 30% 45%; }
  footer .grupo-1 .redes {
    width: 70px; }
  footer .grupo-1 .contacto {
    width: 110px; }
  footer .wsp-fixed {
    left: 1px;
    bottom: 20px;
    width: 85px; }
  footer .wsp-fixed img {
    left: 5px; } }

@media screen and (max-width: 432px) {
  footer .grupo-1 {
    display: grid;
    grid-gap: 40px;
    width: 95%;
    grid-template-columns: 34% 30% 45%; } }

@media screen and (max-width: 360px) {
  .pie-pagina .grupo-1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    justify-items: center; }
  .pie-pagina .grupo-1 .imagenes {
    margin-left: 0;
    width: 80%;
    text-align: center; }
  footer .grupo-1 .redes .red-social {
    width: 100%; }
  footer .grupo-1 .redes {
    width: 100%;
    text-align: center; }
  footer .grupo-1 .contacto {
    width: 100%;
    text-align: center; }
  footer .grupo-1 .contacto p, h3 {
    width: 100%; }
  footer .wsp-fixed {
    left: 5px;
    bottom: 50px; }
  footer .wsp-fixed img {
    text-align: center;
    margin-left: 0; }
  main .main-index h1 b {
    font-size: 35px; }
  main .contacto {
    width: 250px; }
  main h1 b {
    font-size: 45px; }
  main .box-nuestra-historia h1 b {
    font-size: 40px; }
  main .box-nuestra-historia h2 {
    font-size: 45px; }
  main .box-nuestra-historia p {
    font-size: 17px; } }

@media screen and (max-width: 320px) {
  header nav .container-fluid div .imagen-logo img {
    width: 170px;
    height: 50px; }
  header nav .container-fluid .navbar-toggler span {
    height: 20px;
    width: 15px; }
  main .banner {
    margin-top: 4rem; }
  main .banner img {
    height: 185px; }
  main .main-index h1 b {
    font-size: 30px; }
  main .main-index h1 {
    margin-top: 1rem; } }

@media screen and (max-width: 326px) {
  footer .wsp-fixed img {
    height: 65px;
    width: 68px; } }
