@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

/*body, estilo general*/
body {
  background-color: #d9dcdf;
  font-family: 'Barlow Condensed', sans-serif; }

/*estilos de header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }
  header nav {
    background-color: #2a3a49; }
    header nav div a img {
      width: 250px;
      height: 70px; }
  header nav div div .color-menu:hover {
    border-bottom: 2px solid #58c1e0;
    color: whitesmoke; }
  header nav div div b {
    color: whitesmoke;
    font-size: 18px; }

header nav .container-fluid .navbar-toggler {
  background-color: whitesmoke; }

/*main, estilo general*/
main p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px; }

main h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center; }

/*home,estilos*/
main .banner {
  margin-top: 5rem; }
  main .banner img {
    height: 100%;
    width: 100%; }

main .main-index h1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 60px;
  color: black;
  text-align: center;
  margin-top: 4rem; }

main .productos-destacados {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  main .productos-destacados img {
    height: 320px;
    width: 290px;
    margin: 20px;
    border: solid 2px #646161; }

/*productos, estilos*/
main .title-productos {
  margin-top: 7rem;
  text-align: center; }
  main .title-productos b {
    text-align: center;
    border-bottom: 1px solid grey;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    color: black; }

main .container-productos {
  height: 84rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 1rem;
  gap: 1rem 2rem;
  display: grid;
  grid-template-columns: 20% 18% 18% 18%;
  grid-template-rows: repeat(8, 250px);
  grid-template-areas: "section uno dos tres" "section cuatro cinco seis" "section siete ocho nueve" "section diez once doce" "section trece catorce quince"; }

main .container-productos {
  margin-top: 5rem; }
  main .container-productos .producto {
    border: solid 2px #3b3d40; }
    main .container-productos .producto img {
      width: 100%;
      height: 100%;
      object-fit: cover center; }
  main .container-productos .uno {
    grid-area: uno; }
  main .container-productos .dos {
    grid-area: dos; }
  main .container-productos .tres {
    grid-area: tres; }
  main .container-productos .cuatro {
    grid-area: cuatro; }
  main .container-productos .cinco {
    grid-area: cinco; }
  main .container-productos .seis {
    grid-area: seis; }
  main .container-productos .siete {
    grid-area: siete; }
  main .container-productos .ocho {
    grid-area: ocho; }
  main .container-productos .nueve {
    grid-area: nueve; }
  main .container-productos .diez {
    grid-area: diez; }
  main .container-productos .once {
    grid-area: once; }
  main .container-productos .doce {
    grid-area: doce; }
  main .container-productos .trece {
    grid-area: trece; }
  main .container-productos .catorce {
    grid-area: catorce; }
  main .container-productos .quince {
    grid-area: quince; }
  main .container-productos .section {
    height: 545px;
    grid-area: section;
    background-color: #9ba0a6;
    border-radius: 0.5rem;
    border: solid 1px #363e57; }
    main .container-productos .section p {
      width: 100%; }

/*quienes somos, estilos*/
.box-nuestra-historia {
  text-align: center;
  margin-top: 6rem; }
  .box-nuestra-historia p {
    margin-bottom: 25px;
    margin: 0 12rem;
    padding: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px; }
  .box-nuestra-historia img {
    height: 500px;
    width: 700px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .box-nuestra-historia h1 b {
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
    border-bottom: 1px solid grey;
    font-size: 60px;
    color: black; }
  .box-nuestra-historia h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    color: black; }

/*mates personalizados estilos*/
.banner-personzalizados img {
  width: 100%;
  height: 100%;
  object-fit: cover center; }

main .title-personalizados {
  text-align: center;
  margin-top: 3rem; }
  main .title-personalizados b {
    font-family: 'Barlow Condensed', sans-serif;
    border-bottom: 1px solid grey;
    font-size: 60px;
    color: black; }

main .personalizado-grupo-uno {
  margin-left: 3rem;
  margin-top: 4rem;
  text-align: center; }
  main .personalizado-grupo-uno h2 {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 60px;
    color: black; }
  main .personalizado-grupo-uno div {
    margin-top: 3rem; }

main .diseños-personalizados {
  text-align: center; }
  main .diseños-personalizados img {
    width: 50rem;
    height: 40rem; }

main .personalizado-grupo-dos {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; }

main .mas-utilizados {
  margin-top: 3rem; }

/*contacto, estilos*/
.container-principal-contacto {
  background-color: #171a0e;
  height: 450px;
  margin: auto;
  margin-top: 7rem;
  width: 1000px;
  margin-bottom: 6rem; }
  .container-principal-contacto .container-consulta {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 50px; }
    .container-principal-contacto .container-consulta .h2-consulta h2 {
      margin: 5px;
      padding: 5px;
      font-size: 50px; }
  .container-principal-contacto .container-form {
    background-color: #ecf6d3;
    display: flex;
    justify-content: right;
    border: solid 3px black; }
    .container-principal-contacto .container-form .form {
      height: 450px;
      margin-right: 15px;
      margin-top: 5px; }
      .container-principal-contacto .container-form .form .form-section div textarea {
        width: 450px;
        height: 320px; }
      .container-principal-contacto .container-form .form .form-section .form-imput {
        width: 450px;
        padding: 10px;
        margin-top: 10px;
        background-color: black;
        resize: none;
        color: white;
        border: none;
        border-top: #6d1417 solid 3px;
        border-radius: 5px; }
      .container-principal-contacto .container-form .form .form-section ::placeholder {
        color: white; }

/*footer, estilos generales*/
footer {
  margin-top: auto;
  width: 100%;
  background-color: #0a141d; }
  footer .grupo-1 {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 37% 31% 31%;
    grid-gap: 50px;
    padding: 45px 0px; }
    footer .grupo-1 .redes {
      width: 225px; }
    footer .grupo-1 .imagenes {
      margin-left: 50px; }
    footer .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #0d2033;
      text-align: center;
      transition: all 300ms ease; }
    footer .grupo-1 .box .red-social :hover {
      color: aqua; }
    footer .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    footer .grupo-1 .box h3 {
      color: white;
      margin-bottom: 25px;
      font-size: 20px; }
    footer .grupo-1 .contacto p {
      width: 18rem; }
    footer .grupo-1 .imagenes {
      width: 19rem; }
      footer .grupo-1 .imagenes img {
        background-color: #8c9898;
        width: 53px;
        height: 42px;
        border-radius: 3px;
        margin-bottom: 6px; }
  footer .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
    footer .grupo-2 small {
      font-size: 15px; }
  footer .wsp-fixed {
    position: fixed;
    right: 0px;
    bottom: 0px; }
    footer .wsp-fixed img {
      display: flex;
      height: 80px;
      width: 80px;
      margin-left: 20px;
      margin-top: 0,5px; }

@media screen and (max-width: 1024px) {
  .destacado-cuatro {
    display: none; }
  .productos-destacados .destacado {
    height: 200px;
    width: 200px; } }

@media screen and (max-width: 768px) {
  footer .grupo-1 .imagenes {
    width: 250px; }
  footer .grupo-1 .imagenes img {
    width: 45px;
    flex-wrap: wrap; }
  footer .grupo-1 .redes .red-social {
    width: 142px; }
  footer .grupo-1 .redes {
    width: 142px; }
  footer .grupo-1 .redes .red-social .fa-twitter {
    margin-top: 13px; }
  header nav .container-fluid div .imagen-logo img {
    width: 200px; }
  header nav .container-fluid .navbar-collapse .navbar-nav .nav-link b {
    font-size: 16px; }
  main .main-index .productos-destacados img {
    width: 150px;
    height: 160px; }
  main .main-index h1 b {
    font-size: 40px; } }

@media screen and (max-width: 600px) {
  footer .grupo-1 {
    display: grid;
    grid-gap: 40px;
    width: 95%;
    grid-template-columns: 31% 37% 31%; }
  footer .grupo-1 .contacto {
    width: 215px; }
  main .banner {
    margin-top: 4.5rem; }
  footer .grupo-1 .imagenes {
    width: 190px;
    margin-left: 25px; }
  footer .grupo-1 .imagenes img {
    width: 50px;
    flex-wrap: wrap; }
  footer .grupo-1 .redes .red-social {
    width: 90px; }
  footer .grupo-1 .redes {
    width: 90px; }
  footer .grupo-1 .redes .red-social .fa-twitter {
    margin-top: 13px; }
  footer .grupo-1 .redes .red-social .fa-instagram {
    margin-top: 13px; }
  header nav .container-fluid div .imagen-logo img {
    width: 200px;
    height: 60px; }
  header nav .container-fluid .navbar-collapse .navbar-nav .nav-link b {
    font-size: 16px; }
  main .main-index .productos-destacados img {
    width: 150px;
    height: 160px; }
  main .main-index h1 b {
    font-size: 40px; } }

@media screen and (max-width: 480px) {
  footer .grupo-1 .imagenes {
    width: 150px; }
  footer .grupo-1 .contacto {
    width: 180px; }
  footer .grupo-1 .contacto p {
    width: 100px; }
  footer .grupo-1 .redes {
    width: 70px; }
  footer .wsp-fixed {
    width: 50px;
    left: 5px;
    bottom: 10px; }
  footer .grupo-1 .redes .red-social {
    width: 65px; }
  footer .grupo-1 {
    display: grid;
    grid-gap: 40px;
    width: 95%;
    grid-template-columns: 35% 32% 32%; }
  .main-index .productos-destacados .destacado-tres {
    display: none; }
  main .banner img {
    height: 230px; } }

@media screen and (max-width: 320px) {
  .pie-pagina .grupo-1 {
    width: 30%;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
  .pie-pagina .grupo-1 .imagenes {
    margin-left: 0; }
  main .banner img {
    height: 200px; }
  footer .wsp-fixed {
    left: 5px;
    bottom: 20px; }
  footer .grupo-1 .redes .red-social {
    margin-left: 8px; }
  footer .grupo-1 .redes {
    width: 90px;
    margin-left: 10px; }
  .main-index {
    margin-top: 5rem;
    text-align: center; }
  .productos-destacados .destacado-cuatro {
    display: none; }
  .productos-destacados img {
    height: 150px;
    width: 120px;
    margin: 10px; }
  .productos-destacados {
    display: flex;
    flex-direction: column;
    align-items: center; } }

@media screen and (max-width: 442px) {
  footer .grupo-1 .redes {
    width: 60px; }
  footer .grupo-1 .contacto {
    width: 110px; }
  footer .wsp-fixed {
    left: 3px;
    bottom: 20px;
    width: 85px; } }
