/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@import "html/home";
@import "html/contacto";
@import "html/mates-personalizados";
@import "html/productos";
@import "html/quienes-somos";
@import "header/nav";
@import "header/footer";
@import "header/main";
@import "utilidades/mixin";
@import "utilidades/extend";








@media screen and (max-width:1220px){
    footer .grupo-1 .imagenes{
        width: 230px;
    }

    footer .grupo-1 .ir-arriba a img{
        width: 180px;
        height: 60px;
    }
}



@media screen and (max-width:1024px){
.destacado-cuatro{
display: none;
}
.productos-destacados .destacado{
    height: 200px;
    width: 200px;
}
}

@media screen and (max-width:1005px){
    footer .grupo-1 .imagenes{
        width: 200px;
    }

    footer .grupo-1 .ir-arriba a img{
        width: 180px;
        height: 60px;
    }
    
    main .diseños-personalizados img{
        width: 600px;
        height: 500px;
    }

    main .tipografias img{
        width: 600px;
        height: 400px;
    }

    main h2{
        font-size: 45px;
    }
}

@media screen and (max-width:950px){
    footer .grupo-1 .redes{
        width: 190px;
    }
}

@media screen and (max-width:900px){
    main .box-nuestra-historia .imagen-quienes-somos img{
        width: 600px;
        height: 400px;
    }
}

@media screen and (max-width:840px){
    footer .grupo-1{
        display: grid;
        grid-gap: 10px;
        width: 100%;
        grid-template-columns: 25% 25% 25% 24%;
    }

    footer .grupo-1 .imagenes{
        text-align: center;
        margin-left: 0;
        width: 200px;
    }

    footer .grupo-1 .contacto{
        text-align: center;
        width: 210px;

        p{
            width: 210px;  
        }
    }

    footer .grupo-1 .redes{
        width: 180px;
        text-align: center;

       
    }
}

@media screen and (max-width:820px){

    main .banner{
        margin-top: 4rem;
    }

    header .navbar .container-fluid div a img{
        width: 180px;
        height: 60px;
     }
}


@media screen and (max-width:768px) {

    footer .grupo-1{
        display: grid;
        grid-gap: 10px;
        width: 100%;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
    }

    footer .grupo-1 .ir-arriba{
        display: none;
    }

    main .diseños-personalizados img{
        width: 480px;
        height: 350px;
    }

    main .tipografias img{
        width: 400px;
        height: 200px;
    }

    footer .grupo-1 .contacto{
        width: 100%;
        text-align: center;
        p{
            width: 100%;
        }
    }

    footer .grupo-1 .imagenes{
        width: 100%;
    }

    footer .grupo-1 .imagenes img{
        width: 45px;
        flex-wrap: wrap;
    }

    footer .grupo-1 .redes .red-social{
        width: 100%;
        text-align: center;
    }

    footer .grupo-1 .redes{
        width: 100%;
        text-align: center;
    }

    footer .grupo-1 .redes .red-social .fa-twitter{
        margin-top: 13px;
    }

    header nav .container-fluid div .imagen-logo img{
        width: 200px;
    }

    header nav .container-fluid .navbar-collapse .navbar-nav .nav-link b{
        font-size: 16px;
    }

    main .main-index .productos-destacados img{
        width: 150px;
        height: 160px;
    }

    main .main-index h1 b{
        font-size: 40px;
    }
}

@media screen and (max-width:700px){

    footer .grupo-1{
        display: grid;
        grid-gap: 10px;
        width: 100%;
        grid-template-columns: 30% 30% 30%;
        justify-content: center;
        align-content: center;
    }

    footer .grupo-1 .ir-arriba{
        display: none;
    }

    footer .grupo-1 .contacto{
        width: 100%;

        p{
            width: 100%;
        }
    }

    footer .grupo-1 .redes{
        width: 100%;
    }

    footer .grupo-1 .redes h3{
        width: 100%;
    }

    footer .grupo-1 .redes .red-social{
        width: 100%;
    }

    main .box-nuestra-historia .imagen-quienes-somos img{
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width:600px) {

    main .contacto-form{
        width: 350px;
    }

    main .diseños-personalizados img{
        width: 420px;
        height: 300px;
    }

    main .box-nuestra-historia{
        margin-top: 3rem;
    }

    main .box-nuestra-historia .imagen-quienes-somos img{
        width: 400px;
        height: 200px;
    }

    footer .grupo-1{
        display: grid;
        grid-gap: 40px;
        width: 95%;
        grid-template-columns: 35% 30% 30%;
    }

    footer .grupo-1 .contacto{
        width:100%;
    }
    
    main .banner{
        margin-top: 4.5rem;
    }

    footer .grupo-1 .imagenes{
        width: 100%;
    }

    footer .grupo-1 .imagenes img{
        width: 50px;
        flex-wrap: wrap;
    }

    footer .grupo-1 .redes .red-social{
        width: 100%;
    }

    footer .grupo-1 .redes{
        width: 100%;
    }

    footer .grupo-1 .redes .red-social .fa-twitter{
        margin-top: 13px;
    }

    footer .grupo-1 .redes .red-social .fa-instagram{
        margin-top: 13px;
    }

    header nav .container-fluid div .imagen-logo img{
        width: 200px;
        height: 60px;
    }

    header nav .container-fluid .navbar-collapse .navbar-nav .nav-link b{
        font-size: 16px;
    }

    main .main-index .productos-destacados img{
        width: 150px;
        height: 160px;
    }

    main .main-index h1 b{
        font-size: 40px;
    }
}

@media screen and (max-width:500px) {

    main .box-nuestra-historia .imagen-quienes-somos img{
        display: none;
    }
}

@media screen and (max-width:480px){
    main .title-personalizados b{
        font-size: 45px;
    }

    main .personalizado-grupo-uno{
        margin-top: 1rem;
        h2{
        font-size: 40px;
        }
    }

    main .mas-utilizados{
        margin-top: 1rem;
        font-size: 40px;
    }

    main h2{
        font-size: 40px;
    }


    footer .grupo-1 .imagenes{
        width: 100%;
    }

    footer .grupo-1 .contacto {
        width: 100%;
    }

    footer .grupo-1 .contacto p{
        width: 100%;
    }

    footer .grupo-1 .redes{
        width: 100%;
    }

    footer .grupo-1 .redes .red-social{
        width: 100%;
    }

    footer .grupo-1{
        display: grid;
        grid-gap: 20px;
        width: 100%;
        grid-template-columns: 35% 32% 32%;
    }

    .main-index .productos-destacados .destacado-tres{
        display: none;
    }

    main .banner img{
        height: 230px;
    }
}

@media screen and (max-width:450px){
    main .diseños-personalizados img{
        display: none;
    }

    main .tipografias{
        display: none;
    }

    main .link-pdf{
        display: block;
        text-decoration: none;
        transition: color 0.3s;
        
        
        
         .mas-utilizados{
            border: solid 1px gray;
            width: 100%;
           
            
         }
    }

    main .link-pdf .mas-utilizados:hover {
        color: rgb(210, 210, 220);
        background-color: #4b6682;
      }


}

@media screen and (max-width: 432px){
    footer .grupo-1{
        display: grid;
        grid-gap: 20px;
        width: 100%;
        grid-template-columns: 35% 32% 32%;
    }

    main .contacto-form{
        width: 250px;
    }
}

@media screen and (max-width: 360px){
    .pie-pagina .grupo-1{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
        justify-items: center;
        
}

.pie-pagina .grupo-1 .imagenes{
    margin-left: 0;
    width: 80%;
    text-align: center;
}

footer .grupo-1 .redes .red-social{
    width: 100%;
    
}

footer .grupo-1 .redes{
    width: 100%;
    text-align: center;
    
}

footer .grupo-1 .contacto{
    width: 100%;
    text-align: center;
}

footer .grupo-1 .contacto p,h3{
    width: 100%;
}

footer .wsp-fixed{
    left: 5px;
    bottom: 50px;
}

footer .wsp-fixed img{
    text-align: center;
    margin-left: 0;
}

main .main-index h1 b{
    font-size: 35px;
}

main .contacto{
    width: 250px;
}

main h1 b{
    font-size: 45px;
}

main .box-nuestra-historia h1 b{
    font-size: 40px;
}

main .box-nuestra-historia h2{
    font-size: 45px;
}

main .box-nuestra-historia p{
    font-size: 17px;
}
}

@media screen and (max-width:320px) {
    header nav .container-fluid div .imagen-logo img{
        width: 170px;
        height: 50px;
    }
    header nav .container-fluid .navbar-toggler span{
        height: 20px;
        width: 15px;
    }

    main .banner{
        margin-top: 4rem;
    
    }

    main .banner img{
        height: 185px;
    }

    main .main-index h1 b{
        font-size: 30px;
    
    }

    main .main-index h1 {
        margin-top: 1rem;
    }

}

@media screen and (max-width:326px){
    footer .wsp-fixed img{
        height: 65px;
        width: 68px;
    }
}






