//variables

@import "../utilidades/variables";

body{
    font-family: 'Barlow Condensed', sans-serif;
    main{
        h2{
        font-size: 35px;
    }
    }
    
}

body main div{
    font-family: 'Barlow Condensed', sans-serif;
}