

//paleta de colores

//color principal

$color-principal-nav:#2a3a49;

$color-principal-footer:#0a141d;

$color-principal-footer-bis:#0a1a2a;


$color-secundario-nav:rgb(8, 8, 8);

$color-secundario-footer:rgb(38, 36, 36);


